# Backend server
PORT=8080

# Use ONE of these options:
# 1) Railway MySQL plugin URL (recommended)
MYSQL_URL=mysql://root:zBkJtGXReVesgChFbwyaTmwcASEoSoHm@centerbeam.proxy.rlwy.net:44905/railway

# 2) Generic URL (optional fallback)
#DATABASE_URL=mysql://USER:PASSWORD@HOST:PORT/DATABASE

# 3) Individual variables
MYSQLHOST=centerbeam.proxy.rlwy.net
MYSQLPORT=44905
MYSQLUSER=root
MYSQLPASSWORD=zBkJtGXReVesgChFbwyaTmwcASEoSoHm
MYSQLDATABASE=railway

# DB SSL toggle (supports: true/false, 1/0, required)
DB_SSL=false
